#!/bin/bash

# Install SSH Keys
# curl https://raw.githubusercontent.com/WebHostingCoopTeam/keys/master/myaddus.sh | bash
curl https://raw.githubusercontent.com/WebHostingCoopTeam/keys/master/keys > /home/ubuntu/.ssh/authorized_keys

echo "Unused variables saved here for referenceo: ${department} ${name}"

EOFb